# Ignore large annotation JSON file
robustgait_data_generation/instances_train2017.json

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore all model checkpoints
robustgait_data_generation/checkpoints

myenv
opengait/data/compare.py

# Python cache
__pycache__/
*.py[cod]

